
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

  }
  input {
    padding: 30px;
    color:red;
    border: 2px solid black;

  }
  #result{
      color: blueviolet;
      width: 158px;
  }


